.free{
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid blue;
}
.error{
    color: red;
}
.column {
  float: left;
  padding: 10px;
  text-align: center;/* Should be removed. Only for demonstration */
 }  
 .kit{
     float: right;
     margin-right: 100px;
 }
 .fields{
     margin-left: 93px;
 }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
   
  }
.content{
    text-align: center ;
}
.bun{
    color: chocolate ;
    border-radius: 20%;
}

.hide{
    display: none;
}