nav{
    padding:20px;
    margin-left:50%;
}
.disp{
    color:green;
    outline-style: dotted;
    margin-top:0%;
    margin-left:20%;
    margin-right:20%;
    text-align: center;
}
#hideDiv{background:red; width:400px; margin:0 auto; color:#fff; padding:10px; text-align:center;}