.demo{
    margin-left: 30%;
    margin-right: 30%;
    border: 1px dashed blue;
    height: 300px;
}
.error{
    color: red;
}
.column {
  float: left;
  padding: 10px;

  text-align: center;/* Should be removed. Only for demonstration */
 }  
 .row:after {
    content: "";
    display: table;
    clear: both;
   
  }
  .kit{
    float: right;
    margin-right: 100px;
}
.content{
    text-align: center ;
}
.bun{
    background-color: rgb(66, 54, 235);
    color: black;
    border-radius: 10%;
    height: 29px;
}

    .fields{
        margin-left: 93px;
    }
  .forget  a{
        text-decoration: none;
        font-size: 12px;
        color:lightcoral;
    }
  .reglink  a{
        text-decoration: none;
        color:lawngreen;
    }
    input{
        border-style: none;
        border-bottom: 1px solid black;
        width:auto;
    }