<p>login works!</p>
<div class="demo">

    <div class="content">
        <h1>Login </h1>
        <form [formGroup]="myForm" (ngSubmit)="myForm.valid && onSubmit()" noval>
            <div class="fields">
            <div class="row">
                <div class="column">emailid</div>
                <div class="column kit"><input type="text" formControlName="email id" [(ngModel)]="emailid">
                    <div class="error" *ngIf="myForm.controls.emailid.touched && !myForm.controls.emailid.valid">
                        Please enter valid email Id</div>
                </div>
            </div>
            <div class="row">
                <div class="column">Password</div>
                <div class="column kit"><input type="text" formControlName="password" [(ngModel)]="password">
                    <div class="error" *ngIf="myForm.controls.password.touched && !myForm.controls.password.valid">
                        Please enter password</div>
                </div>
            </div>
            <div class="content">
                <button  class="bun" type="submit" [disabled]="!myForm.valid">Login</button>
            </div>
        </div>
        </form>
    </div>
</div>
